<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chocobo_kue_abajo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_abajo2.png</key>
            <dict>
                <key>frame</key>
                <string>{135,0},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_abajo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_izquierda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_izquierda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,140},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_izquierda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_derecha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_derecha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,280},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_derecha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>


            <key>chocobo_kue_arriba1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_arriba2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,420},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
            <key>chocobo_kue_arriba3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,140}}</string>
                <key>sourceSize</key>
                <string>{135,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chocobo_kue.png</string>
            <key>size</key>
            <string>{270,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d70b2498d34a6ce27ecd669974329db:d7e2a12efd5d53dc799168586e11d70e:b8e96a3b0eea864d9c309cc779337e95$</string>
            <key>textureFileName</key>
            <string>chocobo_kue.png</string>
        </dict>
    </dict>
</plist>